//BASE
:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
}


//VARIABLE
$color-black: #1a1a1a;
$color-mint: #A3E1C2;


body{
    font-family: 'Poppins', sans-serif;
}

nav{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;

    .logo{
        height: 30px;
    }

    .menu-mid{
        display: flex;

        li{
            list-style: none;

            .new{
                display: flex;
                align-items: center;

            }

            .new-span{
                display: inline-block;
                text-transform: uppercase;
                font-size: 9px;
                background-color: $color-mint;
                padding: 1px 6px;
                border-radius: 10px;
                margin-left: 5px;
            }
        }

        li+li{
        margin-left: 40px;
        }

        a{
            text-decoration: none;
            color: $color-black;
            
        }
    }

    .menu-right{
        display: flex;

        li{
            list-style: none;
        }

        li+li{
        margin-left: 20px;
        }

        a{
            text-decoration: none;
            color: $color-black;
        }

        .button-black{
            color: #fff;
            background-color: $color-black;
            padding: 15px 25px;
            border-radius: 30px;
        }
            
        }    
}

main{
    .book-container{
        width: 200px;
        background-color: #fff;
    }

    
}