//BASE
:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
}


//VARIABLE
$color-black: #1a1a1a;
$color-gray: #A1A3A3;
$color-gray-light: #F9F9F9;
$color-mint: #A3E1C2;
$color-mint-dark: #59B68F;
$color-mint-light: #D1F0E0;
$color-yellow: #EFD254;
$color-blue: #57B3CA;

body{
    font-family: 'Poppins', sans-serif;
}

nav{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;

    .logo{
        height: 30px;
    }

    .menu-mid{
        display: flex;

        li{
            list-style: none;

            .new{
                display: flex;
                align-items: center;

            }

            .new-span{
                display: inline-block;
                text-transform: uppercase;
                font-size: 9px;
                background-color: $color-mint;
                padding: 1px 6px;
                border-radius: 10px;
                margin-left: 5px;
            }
        }

        li+li{
        margin-left: 40px;
        }

        a{
            text-decoration: none;
            color: $color-black;
            
        }
    }

    .menu-right{
        display: flex;

        li{
            list-style: none;
        }

        li+li{
        margin-left: 20px;
        }

        a{
            text-decoration: none;
            color: $color-black;
        }

        .button-black{
            color: #fff;
            background-color: $color-black;
            padding: 15px 25px;
            border-radius: 30px;
        }
            
        }    
}

main{
    .book-container{
        font-weight: 500;
        width: 310px;
        background-color: #fff;
        padding: 25px 15px;
        border-radius: 15px;
        box-shadow: 0 5px 15px 5px rgba(51, 51, 51, 0.12);

        h3{
            font-size: 20px;
            font-weight: inherit;
            margin-bottom: 15px;
        }
        

        .book-link{
            display: block;
            position: relative;
            font-size: 15px;
            color: $color-black;
            text-decoration: none;
            padding: 14px 10px 14px 30px;

            div {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;

                .book-title{
                    display: flex;
                    align-items: center;
                }

                .book-title::before{
                    display: inline-block;
                    position: absolute;
                    left: 10px;
                    content: '';
                    height: 9px;
                    width: 9px;
                    border-radius: 50%;
                    border: 2px $color-mint solid;
                    background: rgba($color-mint , $alpha: 0);
                    margin-right: 8px;
                }

                .book-urgent::before{
                    border: 2px $color-yellow solid;
                }

                .book-primary::before{
                    border: 2px $color-blue solid;
                }
    
                .book-time{
                    font-size: 10px;
                    color: $color-mint-dark;
                    padding: 2px 7px;
                    border-radius: 15px;
                }

                .book-highlight{
                    background-color: $color-mint-light;
                }

            }

            .book-description{
                color: $color-gray;
                font-size: 10px;
                display: block;
            }
        }

        .book-link:hover{
            background: $color-gray-light;

            // .book-title::before{
            // }
        }

        button{
            display: block;
            background-color: $color-black;
            font-family: inherit;
            font-weight: inherit;
            border: none;
            border-radius: 30px;
            margin: 20px auto 0;

            a{
                display: inline-block;
                color: #fff;
                text-decoration: none;
                font-size: 12px;
                padding: 13px 20px;
            }

        }
    }

    
}