:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #1a1a1a;
}

.book-description {
  color: #A1A3A3;
  font-size: 11px;
  display: block;
}

nav {
  font-size: 13px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 30px;
}

nav .logo {
  height: 35px;
}

nav li {
  padding-bottom: 10px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

nav .menu-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu-mid .new-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .menu-mid li {
  list-style: none;
}

nav .menu-mid li .new-span {
  display: inline-block;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 600;
  background-color: #A3E1C2;
  padding: 2px 6px;
  border-radius: 10px;
  margin-left: 5px;
}

nav .menu-mid li + li {
  margin-left: 50px;
}

nav .menu-mid a {
  text-decoration: none;
  color: #1a1a1a;
}

nav .menu-mid #services {
  display: none;
  position: relative;
  cursor: pointer;
}

nav .menu-mid #services .icon-expand {
  width: 10px;
  margin-left: 8px;
}

nav .menu-mid #services .menu-expand-container {
  display: none;
  -webkit-transform: translate(-35%, 8px);
          transform: translate(-35%, 8px);
  padding: 30px 20px;
  background-color: #F9F9F9;
  border-radius: 0 0 20px 20px;
}

nav .menu-mid #services .menu-expand-container li {
  margin: 0 auto;
}

nav .menu-mid #services .menu-expand-container li .book-description {
  display: block;
}

nav .menu-mid #services .menu-expand-container li a {
  white-space: nowrap;
}

nav .menu-mid #services .menu-expand-container li + li {
  margin-top: 20px;
}

nav .menu-mid #services:hover .menu-expand-container {
  display: block;
}

nav .menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu-right li {
  list-style: none;
}

nav .menu-right li + li {
  margin-left: 30px;
}

nav .menu-right a {
  text-decoration: none;
  color: #1a1a1a;
}

nav .menu-right .button-black {
  color: #fff;
  background-color: #1a1a1a;
  padding: 15px 25px;
  border-radius: 30px;
  white-space: nowrap;
}

@media (max-width: 75em) {
  nav .menu-mid .menu-expand-hidden {
    display: none;
  }
  nav .menu-mid #services {
    display: block;
  }
  nav .menu-mid .menu-expand-container {
    position: absolute;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 150px;
}

main .main-left {
  margin-right: 100px;
}

main .main-left h1 {
  font-size: 42px;
  font-weight: 500;
  line-height: 55px;
  margin-bottom: 10px;
}

main .main-left p {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 50px;
}

main .main-left a {
  color: #1a1a1a;
}

main .main-left a span {
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 18px;
  margin-left: 5px;
}

main .book-container {
  right: 120px;
  font-weight: 500;
  min-width: 350px;
  background-color: #fff;
  padding: 45px 20px 35px 20px;
  border-radius: 30px;
  -webkit-box-shadow: 0 5px 15px 5px rgba(51, 51, 51, 0.12);
          box-shadow: 0 5px 15px 5px rgba(51, 51, 51, 0.12);
}

main .book-container h3 {
  font-size: 22px;
  font-weight: inherit;
  margin-bottom: 15px;
}

main .book-container .book-link {
  display: block;
  position: relative;
  font-size: 16px;
  color: #1a1a1a;
  text-decoration: none;
  border-radius: 10px;
  padding: 18px 10px 18px 30px;
}

main .book-container .book-link div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .book-container .book-link div .book-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3px;
}

main .book-container .book-link div .book-title::before {
  display: inline-block;
  position: absolute;
  left: 10px;
  content: '';
  height: 9px;
  width: 9px;
  border-radius: 50%;
  border: 2px #A3E1C2 solid;
  background: rgba(163, 225, 194, 0);
  margin-right: 8px;
}

main .book-container .book-link div .book-urgent::before {
  border: 2px #EFD254 solid;
}

main .book-container .book-link div .book-primary::before {
  border: 2px #57B3CA solid;
}

main .book-container .book-link div .book-time {
  font-size: 11px;
  color: #59B68F;
  padding: 2px 7px;
  border-radius: 15px;
}

main .book-container .book-link div .book-highlight {
  background-color: #D1F0E0;
}

main .book-container .book-link:hover {
  background: #F9F9F9;
}

main .book-container button {
  display: block;
  background-color: #1a1a1a;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  border-radius: 30px;
  margin: 15px auto 0;
  white-space: nowrap;
}

main .book-container button a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding: 14px 22px;
}

@media (max-width: 75em) {
  main {
    display: block;
    padding: 150px 130px;
  }
  main .main-left {
    margin-bottom: 120px;
    margin-right: 0;
  }
  main .main-left h1 {
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 30px;
  }
  main .main-left p {
    font-size: 25px;
    margin-bottom: 50px;
  }
  main .book-container {
    width: 450px;
    margin: 80px auto;
  }
}
/*# sourceMappingURL=style.css.map */