//BASE
:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
}


//VARIABLE
$color-black: #1a1a1a;
$color-gray: #A1A3A3;
$color-gray-light: #F9F9F9;
$color-mint: #A3E1C2;
$color-mint-dark: #59B68F;
$color-mint-light: #D1F0E0;
$color-yellow: #EFD254;
$color-blue: #57B3CA;

body{
    font-family: 'Poppins', sans-serif;
    color: $color-black;
}

.book-description{
    color: $color-gray;
    font-size: 11px;
    display: block;
}


//NAVIGATION
nav{
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px;

    .menu-img{
        display: flex;

        .logo{
            height: 35px;
        }
    
        .menu-icon{
            display: none;
            height: 30px;    
        }
    }

    li{
        padding-bottom: 10px;
        transform: translateY(10px);
    }

    .menu-mid{
        display: flex;

        .new-container{
            display: flex;
            align-items: center;
        }

        li{
            list-style: none;

            .new-span{
                display: inline-block;
                text-transform: uppercase;
                font-size: 9px;
                font-weight: 600;
                background-color: $color-mint;
                padding: 2px 6px;
                border-radius: 10px;
                margin-left: 5px;
            }
        }


        li+li{
        margin-left: 50px;
        }

        a{
            text-decoration: none;
            color: $color-black;
            
        }

        #services{
            display: none;
            position: relative;
            cursor: pointer;

            .icon-expand{
                width: 10px;
                margin-left: 8px;
            }

            .menu-expand-container{
                display: none;
                transform:translate(-35%, 8px);
                padding: 30px 20px;
                background-color: $color-gray-light;
                border-radius: 0 0 20px 20px;
                
                li{
                    margin: 0 auto;

                    .book-description{
                        display: block;
                    }

                    a{
                        white-space: nowrap;
                    }
                }

                li+li{
                    margin-top: 20px;
                }
            }
        }

        // #services:hover{
        //     .menu-expand-container{
        //         display: block;
        //     }
        // }
    }

    .menu-right{
        display: flex;

        li{
            list-style: none;
        }

        li+li{
        margin-left: 30px;
        }

        a{
            text-decoration: none;
            color: $color-black;
        }

        .button-black{
            color: #fff;
            background-color: $color-black;
            padding: 15px 25px;
            border-radius: 30px;
            white-space: nowrap;
        }
            
        }    
}

@media (max-width: 75em) {
    nav {
        .menu-mid{
            .menu-expand-hidden{
                display: none;
            }

            #services{
                display: block;
            }

            .menu-expand-container{
                position: absolute;
            }
        }
    }
}

@media (max-width: 57em) {
    nav{
        .menu-img{
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .logo{
                height: 45px;
            }

            .menu-icon{
                display: block;
                height: 45px;
            }
        }
        
        .menu-mid{
            display: none;
            
        }

        .menu-right{
            display: none;
        }
    }
}



//MAIN
main{
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;

    .main-left{
        margin-right: 100px;
        
        h1{
            font-size: 42px;
            font-weight: 500;
            line-height: 55px;
            margin-bottom: 10px;
        }

        p{
            font-size: 21px;
            font-weight: 400;
            margin-bottom: 50px;
        }

        a{
            color: $color-black;

            span{
                display: inline-block;
                transform: rotate(90deg);
                font-size: 18px;
                margin-left: 5px;
            }
        }
    }

    .book-container{
        right: 120px;
        font-weight: 500;
        min-width: 350px;
        background-color: #fff;
        padding: 45px 20px 35px 20px;
        border-radius: 30px;
        box-shadow: 0 5px 15px 5px rgba(51, 51, 51, 0.12);

        h3{
            font-size: 22px;
            font-weight: inherit;
            margin-bottom: 15px;
        }
        

        .book-link{
            display: block;
            position: relative;
            font-size: 16px;
            color: $color-black;
            text-decoration: none;
            border-radius: 10px;
            padding: 18px 10px 18px 30px;

            div {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;

                .book-title{
                    display: flex;
                    align-items: center;
                    margin-bottom: 3px;
                }

                .book-title::before{
                    display: inline-block;
                    position: absolute;
                    left: 10px;
                    content: '';
                    height: 9px;
                    width: 9px;
                    border-radius: 50%;
                    border: 2px $color-mint solid;
                    background: rgba($color-mint , $alpha: 0);
                    margin-right: 8px;
                }

                .book-urgent::before{
                    border: 2px $color-yellow solid;
                }

                .book-primary::before{
                    border: 2px $color-blue solid;
                }
    
                .book-time{
                    font-size: 11px;
                    color: $color-mint-dark;
                    padding: 2px 7px;
                    border-radius: 15px;
                }

                .book-highlight{
                    background-color: $color-mint-light;
                }

            }

        }

        .book-link:hover{
            background: $color-gray-light;

            // .book-title::before{
            // }
        }

        button{
            display: block;
            background-color: $color-black;
            font-family: inherit;
            font-weight: inherit;
            border: none;
            border-radius: 30px;
            margin: 15px auto 0;
            white-space: nowrap;

            a{
                display: inline-block;
                color: #fff;
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.2px;
                padding: 14px 22px;
            }

        }
    }

    
}

@media (max-width: 75em) {
    main{
        display: block;
        padding: 150px 130px;

        .main-left{
            margin-bottom: 120px;
            margin-right: 0;

            h1{
                font-size: 55px;
                line-height: 65px;
                margin-bottom: 30px;
            }

            p{
                font-size: 25px;
                margin-bottom: 50px;
            }

        }

        .book-container{
            width: 450px;
            margin: 80px auto;
        }
    }
}